<!doctype>
<html>
<head>
    <title><%- title %></title>
    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>
<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img alt="Brand" src="img/landscape11.svg">
                </a>
            </div>
        </div>
    </nav>

    <div class="container">

        <div class="row">

            <div class="col-sm-3">

                <% if (typeof user !== 'undefined') { %>
                <div class="row">
                    <div class="col-sm-10">
                        <span>You are logged in as: </span>
                        <br />
                        <strong><%= user %></strong>
                        <br /><br />
                        <a href="/signout" class="btn btn-sm btn-primary btn-block">Sign Out</a>
                        <a href="/user" class="btn btn-link btn-block">Go to map</a>
                    </div>
                </div>
                <% }  else { %>

                <% if (typeof loginMessage !== 'undefined' && loginMessage.length > 0) { %>
                <div class="alert alert-danger"><%= loginMessage %></div>
                <% } %>

                <form class="form-signin" role="form" method="post" action="/signin">
                    <div class="row">
                        <div class="form-group col-sm-10">
                            <label for="email" class="sr-only">Email address</label>
                            <input type="email" id="email" name="email" class="form-control input-sm" placeholder="Email" required autofocus>
                        </div>
                        <div class="form-group col-sm-10">
                            <label for="password" class="sr-only">Password</label>
                            <input type="password" id="password" name="password" class="form-control input-sm" placeholder="Password" required>
                        </div>
                        <div class="col-sm-10">
                            <button class="btn btn-sm btn-primary btn-block" type="submit">Sign in</button>
                            <a href="/signup" class="btn btn-link btn-block">Sign up</a>
                        </div>
                    </div>
                </form>

                <% } %>
            </div>

            <div class="col-sm-9 col-sm-offset-0 left-bordered">

                <%- body %>

            </div>

        </div>

    </div>

    <footer class="footer">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/license">license</a></li>
        </ul>
    </footer>

</body>
</html>