<h3 class="text-center">What is Neue project?</h3>
<p><span class="text-primary">Neueu project</span> is lightweight and simple monitoring system.</p>

<div class="text-center">
    <img src="img/map-md.png" class="screenshot" />
</div>

<p>
    <h3 class="text-center">What you can do with Neueu?</h3>
    <ul class="features">
        <li><strong>View</strong> your current location on the map</li>
        <li><strong>Save</strong> your history of movement</li>
    </ul>
</p>

<p>
    <h3 class="text-center">Basic features:</h3>
    <ul class="features">
        <li>HTML5 geolocation</li>
        <li>Sensitive design</li>
    </ul>
</p>

<%- contentFor('title') %>
Neueu - GEO Location