<h3 class="text-center">What is Geomon project?</h3>
<p><span class="text-primary">Geomon project</span> is a lightweight and simple monitoring system.</p>

<div class="text-center">
    <img src="img/map-md.png" class="screenshot" />
</div>

<p>
    <h3 class="text-center">What you can do with Geomon?</h3>
    <ul class="features">
        <li><strong>View</strong> your current location on the map</li>
        <li><strong>Save</strong> your history of movement</li>
    </ul>
</p>

<p>
    <h3 class="text-center">Basic features:</h3>
    <ul class="features">
        <li>HTML5 geolocation</li>
        <li>Version optimized for mobile devices saves traffic and battery charge</li>
        <li>Sensitive design</li>
    </ul>
</p>

<%- contentFor('title') %>
Geomon - GEO Location